<!DOCTYPE html>
<html lang="en">
    <head>
            <title>Contact Form</title>
    </head>
    <body>
        <h1>Contact Us</h1>
        <form action="">
            <p>Subject: <input type="text" name="txtSubject"></p>
            <p>Email: <input type="text" name="txtEmail"></p>
            <p>
                Message:
                <textarea name="txtMessage" rows="5" cols="30" style="resize: none;"></textarea>
            </p>
            <input type="submit" value="Send">
        </form>
    </body>
</html>
